.cart {
    background-color: whitesmoke;
    /* min-height: 525px; */
}

#shop-link {
    background-color: rgb(28, 28, 62);
    color: white;
    border: 2px solid rgb(28,28,62);
    border-radius: 4px;
}

.cart-card {
    max-width: 540px;
}

.cart-summary-card {
    max-width: 170px;
}

.product-quantity {
    margin-left: 3px;
}

.product-quantity button {
    border: 1px solid rgb(166, 166, 180);
}

.product-quantity b {
    color:black;
    margin:0px 5px;
}